@import "./reset.css";

body{
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-lt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    height: 50px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 20%;
}

.logo img{
    height: 100%;
}

.search{
    width: 60%;
    border-radius: 15px;
    border: 1px solid #d1cdcd;
    margin: 5px 0px;
    color:rgb(131, 129, 129);
    padding-left: 20px;
}

.btn-darkmode{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.btn-darkmode img {
    height: 100%;
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    height: 100%;
    width:88%;
}

.card-container__popular{
    height: 50%;
}

.card-list{
display: flex;
justify-content: space-around;
align-items: center;
}

.poster{
    width: 200px;
    height: 300px;
    background-image: url('https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86883/86883_320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.poster-title{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.card-container__comingsoon{
    background-color: darkorange;
    height: 50%;
}

.container-rt{
    background-color: blue;
    width: 50%;
    height: 100%;
}