@import "./reset.css";

body{
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-lt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    height: 50px;
    display: flex;
    border-bottom: 2px solid #eee;
    margin-bottom: 15px;
}

.div-lt{
    width: 10%;    
}

.logo{
    width: 80%;
    font-size: 25px;
    text-align: center;
    padding-top: 8px;
    font-weight: 700;
    letter-spacing: 3px;
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    height: 100%;
    width:88%;
}

.card-container__popular{
    height: 50%;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.card-list{
display: flex;
justify-content: space-around;
align-items: center;
}

.poster{
    width: 200px;
    height: 300px;
    background-image: url('https://img.cgv.co.kr/Movie/Thumbnail/Poster/000086/86883/86883_320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.poster-title{
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.card-container__comingsoon{
    height: 50%;
}

.container-rt{
    background-color: beige;
    width: 50%;
    height: 100%;
}